[submodule "lain"]
	path = lain
	url = git://github.com/copycat-killer/lain.git
[submodule "radical"]
	path = radical
	url = https://github.com/Elv13/radical.git
[submodule "pretty"]
        path = pretty
        url =https://github.com/vvFiCKvv/pretty.git
